# Application
APP_ENV=local
PORT=4000
NGROK_DOMAIN= # Required when APP_ENV=local

# Redis
REDIS_HOST=localhost
REDIS_HOST_PORT=6379
REDIS_CONNECT_TIMEOUT=90000

# MongoDB
MONGODB_USERNAME=
MONGODB_PASSWORD=
MONGODB_HOST=

# WhatsApp
WHATSAPP_WEBHOOK_VERIFICATION_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_SYSTEM_TOKEN=
